services:
  mysql:
    image: 'mysql:8.0'
    environment:
      - 'MYSQL_DATABASE=mydatabase'
      - 'MYSQL_PASSWORD=secret'
      - 'MYSQL_ROOT_PASSWORD=verysecret'
      - 'MYSQL_USER=myuser'
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'

  mongodb:
    image: 'mongo:latest'
    environment:
      - 'MONGO_INITDB_ROOT_USERNAME=root'
      - 'MONGO_INITDB_ROOT_PASSWORD=secret'
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  keycloak:
    image: 'quay.io/keycloak/keycloak:latest'
    command: start-dev
    environment:
      - 'KC_DB=mysql'
      - 'KC_DB_URL=jdbc:mysql://mysql:3306/mydatabase'
      - 'KC_DB_USERNAME=myuser'
      - 'KC_DB_PASSWORD=secret'
      - 'KEYCLOAK_ADMIN=admin'
      - 'KEYCLOAK_ADMIN_PASSWORD=admin'
    ports:
      - '9090:8080'
    depends_on:
      - mysql

volumes:
  mysql_data:
  mongo_data:
